{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicle Positions{% endblock %}</h1>
{% endblock %}

{% block content %}
<a class="action" href="{{url_for('gtfs_routes.display_vehicles', feed_id=feed.id)}}">Back</a>
<hr>
{% include 'get_gtfs_form.html' %}
<hr>
<h1> GTFS_ID: {{vehicle_id}}</h1>
<h1> Day: {{date}} (Times in UTC)</h1>

<table>
    <thead>
    <th>Timestamp</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Occupancy Status</th>
    <th>Start Day(Local)</th>
    </thead>
    {% for d in data.items %}
    <tr>
        <td>{{d.timestamp}}</td>
        <td>{{d.lat }}</td>
        <td>{{d.lon}}</td>
        <td>{{d.occupancy_status}}</td>
        <td>{{d.day}}</td>
    </tr>
    {% if not loop.last %}
    {% endif %}
    {% endfor %}
</table>
<hr>

{% endblock %}