<script>
    function onLoad() {
        let y = document.getElementById("trip_ids");
        y.type = "text";
    }
</script>
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicle Summaries{% endblock %}</h1>
{% endblock %}

{% block content %}
<a class="action" href="{{url_for('gtfs_routes.display_vehicles', feed_id=feed.id)}}">Back</a>
<hr>
<body onload = "onLoad()">
{% include 'get_gtfs_form.html' %}
</body>
<hr>
<h1>{{feed.company_name}}({{feed.id}}) Trip Summaries for {{date}} (Times in UTC)</h1>
<table>
    <thead>
    <th>Gtfs ID</th>
    <th>First Trip</th>
    <th>First Trip Started</th>
    <th>Last Trip</th>
    <th>Last Trip Ended</th>
    </thead>
    {% if data.items %}
        {% for vehicle in data.items %}
        <tr>
            <td>{{vehicle.gtfs_id }}</td>
            <td>{{vehicle.first_trip}}</td>
            <td>{{vehicle.first_trip_start}}</td>
            <td>{{vehicle.last_trip}}</td>
            <td>{{vehicle.last_trip_end}}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
<hr>
{% endblock %}
