{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Trip Updates{% endblock %}</h1>
{% endblock %}

{% block content %}
<a class="action" href="{{url_for('gtfs_routes.display_vehicles', feed_id=feed.id)}}">Back</a>
<hr>
{% include 'get_gtfs_form.html' %}
<hr>
<h1> GTFS_ID: {{vehicle_id}}</h1>
<h1> Day: {{date}}</h1>
<table id="trip_table">
    <thead>
    <th>Trip ID</th>
    <th>Timestamp(UTC)</th>
    <th>Start Day(Local)</th>
    <th>Trips</th>
    </thead>
    {% for trip in data.items %}
    <tr>
        <td id="trip_id">{{trip.trip_id}}</td>
        <td>{{trip.timestamp}}</td>
        <td id="trip_day">{{trip.day}}</td>
        <td>
            <table id="stop_table">
                <thead>
                <th>Stop id</th>
                <th>Time till arrival</th>
                </thead>
                {% for stop in trip.stops %}
                <tr>
                    <td>{{stop.stop_id}}</td>
                    <td>{{stop.time_till_arrive}}</td>
                </tr>
                {% endfor %}

            </table>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
