{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicles{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1> {{feed.company_name}}({{feed.id}}) | {{feed.timezone}}</h1>
<hr>
<form method="post" action="{{url_for('gtfs_routes.display_vehicles', feed_id=feed.id)}}">
    <label for="summary_date">Get summery by date</label>
    <input type="text" name="summary_trip_ids" placeholder="Trip ids" id="summary_trip_ids" required>
    <input style="width:150px" type="date" name="summary_date" id="summary_date" value="{{date}}" required>
    <input type="submit" value="Submit">
</form>
<hr>
{% for v in vehicles %}
<article class="data">

    <h3>{{ v.vehicle_gtfs_id }}</h3>

    <div class="grid-container">
        <a class="action grid-item"
           href="{{url_for('gtfs_routes.get_vehicle_position', feed_id=feed.id, vehicle_id=v.id)}}">
            Vehicle Position Data </a>
        <a class="action grid-item"
           href="{{url_for('gtfs_routes.get_vehicle_trip_updates', feed_id=feed.id, vehicle_id=v.id)}}">
            Trip Update Data </a>
    </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}


{% endblock %}